APP_NAME=NuvisAccounting
APP_ENV=production
APP_LOCALE=en-GB
APP_INSTALLED=false
APP_KEY=base64:TnV2aXNBY2NvdW50aW5nRGVmYXVsdEFwcEtleTMyQiE=
APP_DEBUG=false
APP_SCHEDULE_TIME="09:00"
APP_URL=https://nuvistechnologies.com.fj/accounting

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_PREFIX=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

MAIL_MAILER=mail
MAIL_HOST=localhost
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_NAME=null
MAIL_FROM_ADDRESS=null

FIREWALL_ENABLED=true

MODEL_CACHE_ENABLED=false

DEBUGBAR_EDITOR=vscode
IGNITION_EDITOR=vscode
